.navbar__container {
  margin: 0;

  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.navbar__list {
  list-style: none;
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.4rem;
}
.navbar__item {
  cursor: pointer;
  background-color: #e5eaf5;
  padding: 1rem;
  border-radius: 2px;
  border-radius: "12px";
}
.navbar__item.selected {
  background-color: #0b7285;
  color: #e5eaf5;
}
